body {
    background-color: #c5d7e6;
    cursor: url(img/Up_Arrow.cur), auto
}
#navbarSupportedContent{
    left: 54%;
    background-color: rgb(68, 63, 63);
    text-align: center;
    margin-left: 20%;
    margin-right: 45%;
}
.contact{
    color: black;
}
#personal{
    animation-name: name;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}